body {
    margin: 0;
    width: 100%;
    background-image: url("/Projet-Isa/public/images/losange-deco.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    background: whitesmoke;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    border-radius: 5px;
    background: white;
}

input[type="button"] {
    margin: 0;
}

input[type="number"] {
    width: 40px;
}