body {
    margin: 0;
    width: 100%;
    background-image: url("/Projet-Isa/public/images/losange-deco.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    width: 400px;
}

#email {
    width: 50%;
}

#subject {
    width: 80%;
}

textarea {
    width: 80%;
    height: 100px;
}

@media screen and (max-width:600px) {
    form {
        width: 300px;
    }
    #email, #subject {
        width: 70%;
    }
    textarea {
        width: 70%;
        height: 100px;
    }
}