body {
    margin: 0;
    width: 100%;
    background-image: url("/Projet-Isa/public/images/losange-deco.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    background: whitesmoke;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p:nth-child(2) {
    color: red;
}

input[type="submit"]:hover {
    color: red;
}