body {
    margin: 0;
    width: 100%;
    background-image: url("/Projet-Isa/public/images/losange-deco.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
}

.packs {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.packs img {
    width: 200px;
    border-radius: 10px;
    margin: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.packs img:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    transition: transform 0.2s;
}

@media screen and (max-width:600px) {
    .packs {
        flex-direction: column;
    }
    .packs img {
        margin: 20px;
    }
}