body {
    margin: 0;
    width: 100%;
    background-image: url("/Projet-Isa/public/images/losange-deco.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

h2 {
    font-family: 'Niconne', cursive;
    color: goldenrod;
    font-size: 30px;
}

.links {
    display: flex;
    justify-content: center;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    background: black;
    padding: 5px 10px;
    border: 1px solid black;
}

.links a:hover {
    color: black;
    background: white;
    border: 1px solid black;
    box-sizing: border-box;
}

video {
    width: 350px;
}

.video {
    margin-bottom: 20px;
}