body {
    margin: 0;
    width: 100%;
    background-image: url("/Projet-Isa/public/images/losange-deco.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-form {
    display: none;
}

img {
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.payment-form {
    margin-top: 20px;
}

.exp-date {
    display: flex;
    justify-content: center;
}

.exp-date input {
    width: 25px;
}

#cvc {
    width: 30px;
}

.command {
    width: 300px;
    border: 1px solid lightgrey;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 20px;
    text-align: center;
    background: white;
}